/*=============================================
=                 Bootstrap  Components                                      =
=============================================*/

/* --------- Cards -------- */

.card {
    border: 0;
    border-radius: 0.1875rem;
    display: inline-block;
    position: relative;
    width: 100%;
    margin-bottom: 30px;
    box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
  }
  
  .card .card-header {
    background-color: transparent;
    border-bottom: 0;
    background-color: transparent;
    border-radius: 0;
    padding: 0;
  }
  .card .card-footer {
    padding: 0;
    margin-top: 15px;
    background-color: transparent;
    border: 0;
  }
  .card[data-background-color=orange] {
    background-color: #f96332;
  }
  .card[data-background-color=red] {
    background-color: #FF3636;
  }
  .card[data-background-color=yellow] {
    background-color: #FFB236;
  }
  .card[data-background-color=blue] {
    background-color: #2CA8FF;
  }
  .card[data-background-color=green] {
    background-color: #15b60d;
  }

  /* -------- Buttons ------- */

  .btn-twitter {
    background-color: #2CA8FF;
  }

/* ---- nav pill icons ---- */
